# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
./.ipynb_checkpoints/*
.ipynb_checkpoints/PythonProgramming_Session2-checkpoint.ipynb
# IPython
profile_default/
ipython_config.py

# MAC
.DS_Store
